@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
}
body {
    background: #ffffff url(image/background-white.jpg) center no-repeat;
    background-size: cover;

    min-height: 100dvh;
}
main {
    min-height: 100dvh;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;


}
    /* buttons */
.buttons {
    /* display */
    display: flex;
    flex-direction: row;
    gap: 15px;


}
.buttons > a {
    /* size */
    width: 2.5em;
    height: 2.5em;
    border-radius: 15px;
    

}
.button-iframe {
    background: url(image/button-github.png) center no-repeat;
    background-size: cover;
}


    /* Cellphone */
.menuphone {

    /* display */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* background */
    background: url(image/cell2.png) center no-repeat;

    /* size */
    min-width: 275px;
    min-height: 420px;

}
.menuphone > iframe {
    /* size */
    width: 159px;
    height: 270px;
    border-radius: 5px;

    margin-top: 20px;
    
}
.menuphone a {
    /* background */
    background-color: rgba(0, 0, 0, 0.7);



    /* size */
    width: 35px;
    height: 15px;
    border-radius: 30px;

    margin-top: 20px;
}


@media screen and (min-width: 708px){
    body {
        background: url(image/bg-white-708.jpg) center no-repeat;
        background-size: cover;

    }
    
    main {
        flex-direction: row-reverse;
        gap: 50px;
    }
    
    
    /* Buttons */
    .buttons {
        /* display */
        flex-direction: column;
        gap: 10px;
        
    }

    .buttons > a {
    /* size */
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 10px;

}
    
    /* Cellphone */
    .menuphone {
        
        /* background */
        background: url(image/cell3.png) center no-repeat;

        /* size */
        min-height: 550px;
    }
    .menuphone > iframe {
        width: 241px;
        height: 420px;
    }
    .menuphone > a {
        width: 60px;
        height: 25px;
    }
}
@media screen and (min-width: 1110px){
    body {
        background: url(image/bg-white-1110.jpg);
        background-size: cover;
    }
}