@charset "UTF-8";

/* Config */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --title: 'Poppins', sans-serif;
    --text: 'Inter', sans-serif;
    --colortitle: #a54d2ad8;
    --accent: #a33b12d8;
    --color-secondary: #6ec5ff;
}

body {
    min-height: 100dvh;
    background: var(--color-secondary);
}
/* Header */
.hcontainer {
    padding: 1rem;
    cursor: pointer;
}

/* Main */

.mcontainer {
    width: 90%;
    margin: auto;
} 

.form-section {
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    height: 450px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15), 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
.area-image {
    overflow: hidden;
    height: 180px;
}
.area-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 30px 30px 0 0;
    display: block;
}
.area-login {
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
}

.area-login h1 {
    font-size: 4em;
    font-family: var(--title);
    font-weight: 600;
    padding-left: 0.5em;
    color: var(--colortitle);
}
.area-login p {
    text-indent: 1rem;
    font-family: var(--text);
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.8rem;
    
    margin: 1em 0;
}
.area-login a {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--colortitle);
}
.login-group {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1em 0.5em;
    border: 1px solid var(--colortitle);

    position: relative;
}
.login-group::after {
    content: "";
    position: absolute;

    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: var(--color-secondary);
}
.login-group input {
    width: 100%;
    background: transparent;
    font-family: var(--text);
    border: none;
    outline: none;
}
.insubmit {
    display: block;
    font-size: 1.5rem;
    width: 90%;
    margin: auto;
    padding: 0.2em;
    border: 1px solid black;
    border-radius: 1em;
    background: var(--accent);
    cursor: pointer;
    transition: background 0.3s ease;
}
.insubmit:hover {
    transition: 0.3s linear;
    transform: scale(1.03);
}
