@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
    box-sizing: border-box;
    
}
:root {
    --h1font: "Passion One", sans-serif;
    --boxshadow: 0px 0px 12px rgba(9, 196, 217, 0.836);
    --textshadow: 0px 0px 12px rgba(9, 196, 217, 0.419);
    --sizeh1: 2.5em;
    --sizepbox: 1.2em;
    --linkcolor: #09c4d9;
    --colorp: #ffffff;
    --radius: 20px 20px 10px 10px;

}

body {
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    z-index: 99;
    background-image: url(image/imageheader.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.884);
    height: 600px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 40px;
    border-radius: 0px 0px 30px 30px;
}

header h1 {
    font-size: clamp(4em, 8vw, 8vw);
    color: #ffffff;
    text-shadow: var(--textshadow);
}
header p {
    margin: 0px 0px 0px 100px;
    color: #ffffff;
    font-size: clamp(1em , 1.7vw , 1.7vw);
    text-shadow: var(--textshadow);
}

main {
    padding: 30px;
    color: #000000;
}
section h1{ font-size: var(--sizeh1); text-shadow: var(--textshadow);}

section h2 { font-size: 1.8em; }

section p { font-size: var(--sizepbox); }

section a { color: var(--linkcolor); font-size: var(--sizepbox);}
section a:hover {text-decoration: underline; text-decoration-color: #ffffff; text-underline-offset: 1px;}

section ul {list-style: none;}

section div#top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
div#top div#sobre {
    text-align: center;
    padding: 10px;
    border-radius: var(--radius);
    height: fit-content;
    width: 600px;
    box-shadow: var(--boxshadow);
    
    color: var(--colorp);
    background-color: #000000;
}

div#top #projects {
    text-align: center;
    border-radius: var(--radius);
    height: fit-content;
    width: 600px;
    height: fit-content;
    box-shadow: var(--boxshadow);
    padding: 10px;

    color: var(--colorp);
    background: #000000;
}

#course {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
#exer {
    background-color: #000000;
    border-radius: var(--radius);
    height: fit-content;
    flex: 1;
    min-width: 300px;
    box-shadow: var(--boxshadow);
    padding: 10px;
    color: var(--colorp);
}
#exer ul {
    columns: 2;
    column-gap: 20px;
}

#exer li {
    break-inside: avoid;
    margin-bottom: .4rem;
    list-style: none;
}

#desa {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #000000;
    border-radius: var(--radius);
    flex: 1;
    min-width: 300px;
    box-shadow: var(--boxshadow);
    padding: 10px;
    color: var(--colorp);
}
.modulo {
    flex: 1;
    min-width: 220px;

    background: #111;
    border-radius: 15px;
    padding: 15px;
}

.modulo ul {
    list-style: none;
    margin-top: 10px;
}

.modulo li {
    margin-bottom: 8px;
}
footer {
    background-color: #000000;
    border-radius: 30px 30px 0px 0px;
    padding: 20px;
    text-align: center;
}
footer h1 {
    text-shadow: var(--textshadow);
    font-size: var(--sizeh1);
}
footer a { color: var(--linkcolor);}

#titlemiddle {
    margin: 20px 0px 20px 0px;
}
@media (max-width: 768px) {
    #exer ul {
        columns: 1; /* No celular, usa apenas 1 coluna para evitar a rolagem horizontal */
    }
}